@media (min-width: 600px) {
    body {
        font-size: 20px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: left;
    padding: 1vh;
    overflow-x: hidden;
}

h1 {
    color: #333;
}

.table-responsive {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: black;
}

.group1 {
    background-color: #ccfaff !important;
}

.group2 {
    background-color: #ffffff !important;
}

.chart-wrapper {
    height: 480px;
}

.pie-chart-wrapper {
    height: 280px;
}

.chart-title {
    margin-top: 2rem;
}
