{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}" type="text/javascript"></script>
<div>
    <label for="month-picker">Select a month:</label>
    <input type="month" id="month-picker" name="month-picker">
</div>

<div class="outer-wrapper">
    <h3 class="chart-title">Profit Summary</h3>
    <div class="row">
        <div class="col-md-12 chart-wrapper">
            <canvas id="profitSummaryChart"></canvas>
        </div>
    </div>
</div>

<div class="outer-wrapper">
    <h3 class="chart-title">Matched Prediction Status</h3>
    <div class="row">
        <div class="col-md-12 chart-wrapper">
            <canvas id="matchedPredictionChart"></canvas>
        </div>
    </div>
</div>

{% endblock %}
