<!DOCTYPE html>
<html>
<head>
    <title>Predictions Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Predictions Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>City Code</th>
                <th>Prediction</th>
                <th>Actual</th>
                <th>Matched</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.cityCode }}</td>
                <td>{{ (item.prediction|default('')).replace('_', ', ') }}</td>
                <td>{{ (item.actual|default('')).replace('_', ', ') }}</td>
                <td>
                    {% set prediction_numbers = (item.prediction|default('')).split('_') %}
                    {% set actual_numbers = (item.actual|default('')).split('_') %}
                    {% for number in prediction_numbers %}
                        {% set predictionNumber = number.split('(')[0] %}
                        {% if predictionNumber in actual_numbers %}
                            {{ predictionNumber }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>