{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        var targetDate = '{{ today }}';
        $('#date-picker').datepicker({
            dateFormat: 'yy-mm-dd',
        });
        $('#date-picker').datepicker('setDate', new Date(targetDate));
    });
</script>

<form action="/with-date" method="post">
    <label for="date-picker">Choose a date:</label>
    <input type="text" id="date-picker" name="date">
    <input type="submit" value="Submit">
    <hidden id="targetDate" value="{{ today }}">
</form>

<h2>Hello, the prediction for {{ today }} ({{ dayOfWeekName }})</h2>
<div class="table-responsive">
    <table>
        <tr>
            {% for prediction in predictions %}
            <th>{{ prediction.cityCode }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for prediction in predictions %}
            <td>{{ (prediction.result|default('')).replace('_', ', ') }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}
